<ion-view title="My Page">
	<ion-content>
		<div class="bar bar-header item-icon-right">
			<h1 class="title"><img src="img/logo.png"/></h1>
			<i class="icon ion-ios7-telephone-outline"></i>
			<i class="icon ion-ios7-telephone-outline"></i>
		</div>
		<ion-slide-box class="top44" on-slide-changed="onSlideChanged()" pager-click="pagerClick()" delegate-handle="" show-pager="true" auto-play=false does-continue="true" slide-interval="4000">
			<ion-slide>
				<div class="box yellow">
					<img class="block" src="img/slider1.jpg" />

				</div>
			</ion-slide>
			<ion-slide>
				<div class="box  pink">
					<img class="block" src="img/slider2.jpg" />

				</div>
			</ion-slide>
			<ion-slide>
				<div class="box  blue">
					<img class="block" src="img/slider3.jpg" />
				</div>
			</ion-slide>
		</ion-slide-box>
		<div class="home-menus">
			<div class="row">
				<div class="col center">
				    <a href="#/css">
					 <img src="img/menu.jpg">
					 <p>cssComponents</p>
					</a>
				</div>
				<div class="col center">
					<a href="#/js">
					<img src="img/menu.jpg">
					<p>我的app</p>
					</a>
				</div>
				<div class="col center">
					<img src="img/menu.jpg">
					<p>我的app</p>
				</div>
				<div class="col center">
					<img src="img/menu.jpg">
					<p>我的app</p>
				</div>
			</div>
			<div class="row">
				<div class="col center">
					<img src="img/menu.jpg">
					<p>我的app</p>
				</div>
				<div class="col center">
					<img src="img/menu.jpg">
					<p>我的app</p>
				</div>
				<div class="col center">
					<img src="img/menu.jpg">
					<p>我的app</p>
				</div>
				<div class="col center">
					<img src="img/menu.jpg">
					<p>我的app</p>
				</div>
			</div>
		</div>
		<!--<div class="tabs tabs-icon-only">
			<a class="tab-item">
				<i class="icon-home"></i>
			</a>
			<a class="tab-item">
				<i class="icon icon-star"></i>
			</a>
			<a class="tab-item">
				<i class="icon icon-gear-a"></i>
			</a>

		</div>-->
	</ion-content>
</ion-view>