<ion-view title="My Page">
	<ion-content>
	<div ng-if="check()">
			测试ngif
		</div>
		<button ng-click="togg()">点击切换</button>
		<input type="text" placeholder="输入关键字" ng-model="userName" class="account-input">
		<ion-list>
			<ion-item ng-repeat="item in items" class="item-thumbnail-left">
				<!--<img ng-src="{{item.img}}">-->
				<h2 style="height: 30px;text-align: center;color: #333;">{{item.id}}{{item.name}}</h2>
				<!--<p>{{item.title}}{{item.description}}</p>-->


			</ion-item>
		</ion-list>
		<ion-infinite-scroll ng-if="moreDataCanBeLoaded()" icon="ion-loading-c" distance="1%" on-infinite="loadMore(userName)"></ion-infinite-scroll>
		
	</ion-content>
</ion-view>