<ion-view title="My Page">
	<ion-content>
		<div class="bar bar-header">
			<div class="h1 title">events</div>
		</div>
		<div class="h44">

		</div>
		<div class="list">
			<a class="item" on-hold="onHold()">
              on-hold
            </a>
            <div class="item" on-tab="onTab()">
            	on-tab
            </div>
             <div class="item" on-touch="onTouch()">
            	on-touch
            </div>
             <div class="item">
            	release
            </div>
             <div class="item">
            	on-drag
            </div>
             <div class="item">
            	on-drag-up
            </div>
             <div class="item">
            	on-drag-right
            </div>
             <div class="item">
            	on-drag-down
            </div>
             <div class="item">
            	on-drag-left
            </div>
             <div class="item">
            	on-swipe
            </div>
             <div class="item">
            	on-swipe-up
            </div>
             <div class="item">
            	on-swipe-right
            </div>
             <div class="item">
            	on-swipe-down
            </div>
             <div class="item">
            	on-swipe-left
            </div>
            
		</div>
	</ion-content>
</ion-view>