<ion-view title="My Page">
	<ion-content>
		<div class="bar bar-header">
			<div class="h1 title">js</div>
		</div>
		<div class="h44">
			
		</div>
		<ul class="list">
			<a href="#/actionSheet" class="item">actionSheet</a>
			<a href="#/backDrop" class="item">backDrop</a>
			<a href="#/events" class="item">events</a>
			<a href="#/formInputs" class="item">formInputs</a>
			<a href="#/gesture" class="item">gesture</a>
			<a href="#/keyboard" class="item">keyboard</a>
			<a href="#/lists" class="item">lists</a>
			<a href="#/loading" class="item">loading</a>
			<a href="#/popover" class="item">popover</a>
			
			
			
				<li class="item">第二个</li>
		</ul>
	</ion-content>
</ion-view>